html{
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ///// */
.phone{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #8942a8, #ba382f);
    padding: 48px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img img{
    width: 200px;
}

.img{
    padding: 10px;
    background: white;
    border-radius: 8px;
}

.phone__content{
    display: flex;
    flex-wrap: wrap;
}

.phone__content .item{
    border-radius: 10px;
    padding: 15px;
    max-width: 25%;
    flex: 0 0 25%;
}

.phone__content .cart{
    padding: 15px;
    background: #fff;
    border-radius: 10px;
}

.phone__content .infor{
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 7px;
}

.phone__content .infor p{
    margin: 10px;
    font-size: 15px;
}

.phone__content .infor span{
    color: #17a2b8;
    font-weight: bold;
};

